<p #footer class="footer-text">Réalisé par Jason en Anthestérion de l'an 515 avant JC</p>
<div class="footer-links">
  <p>Github API : https://git.heroku.com/the-argonauts-api.git</p>
  <a target="_blank" href="https://github.com/YannBirba/the-argonauts">Github APP</a>
  <a target="_blank" href="https://fr.wikipedia.org/wiki/Argo_(mythologie)">Histoire de l'Argo</a>
  <a target="_blank" href="https://fr.wikipedia.org/wiki/Argonautes">Histoire et liste originelle des argonautes</a>
  <a target="_blank" href="https://joeschmoe.io/">Illustrations personnages</a>
  <a target="_blank" href="https://heroku.com">Hosté avec Heroku</a>
</div>
