<h2>Ajouter un(e) Argonaute</h2>
<form [formGroup]="argonautForm" (ngSubmit)="onSubmit($event)">
  <label for="name">Nom de l'argonaute</label>
  <input (keyup.enter)="onSubmit($event)" formControlName="name" type="text" id="name" name="name" value=""
    placeholder="Charalampos">
  <button [disabled]="argonautForm.invalid" type="submit">Ajouter</button>
</form>
<div *ngIf="(argonautsList$ | async) as argonautsList" class="members-container">
<h2>Membres de l'équipage</h2>
<div class="members">
    <h3 *ngIf="argonautsList.length > 0; else loading">Actuellement dans l'équipage : <span class="number-members">{{argonautsList.length}}</span></h3>
<app-argonaut *ngFor="let argonaut of argonautsList; trackBy:trackBy" [argonaut]="argonaut"
  [image]="argonautImage(argonaut.id)" (delete)="onDelete($event)" (update)="onUpdate($event)"></app-argonaut>
</div>
</div>
<ng-template #loading>
    Loading ...
</ng-template>